<div class="abm-parent">
  <div class="container" class="abm-body">
    <div class="row">

      <div class="col-6">
        <div class="wrapper">
          <div class="polaroid">

            <img src="https://lh3.googleusercontent.com/dkgtKcmwusQsNOBhiGtXbdWiHrj7cUFjN9xk7g0lx4RtuVAyqjWtPGkoRTEKh9UlDeqdXkv8j4plOgRxrDO6EQTvvYaGV-Jlv53Q-9dB6EJpvEkMs2o1Xvm615sAM-pWxlAeBSKZO-KDqb2ZK3aI7Nr-QZcRpUHL0vs-WJOwKD3N2rMZ2mWnHfiJ_9A3IIDdwREeoTRyOYUu0lyhzZ3g83ZjZlOLa9xASjn1LR-aCHqB2SFub-beLcPeA4Y9_SsxmSLkGVrb9MKLiWKBgpNxbN1ePadPW4_fMs4SwRUzInY42OxiFSsjUAjRmtIJxd4j4m2KiV53tTXiUqQ361lfK4DLzBvxRp20p3ZiLkDKz7ce4QKIEkWvht4PWY5DF7KlmT7E-MHQPWHDu0HZSQMO8lQ3pjBMGBfkTrT0fx6riqjtFOpalhvk1QO8rNcju0KQk9D46LLbnx1K7dM2YPJ-B6bz-xB3Gx9WMC1P7lZenXdapb9g0L_lYrGfwylzO_kp_H6qtgSYp18QIPoie5tnWj2tUUmXxGAy1ak_SOnQ65-DFbMr4qO0adqng6LMGg7Lwq-jJwUVS-ieJQlfGWE2Obzt1CdjfAbxg3gauP6AB62OwY3IhviUX4qmXUHQqLJBHzEWThQ9_vwtxxhIZvQHuh9WJllBU6Yo=w758-h947-no" />
          </div>

          <!-- <div class="description">
            <h1>Fade-in Po laroid</h1>
            <h2>Pure CSS</h2>
          </div> -->
        </div>
      </div>
      <div class="col-6 mt-3">
        <div class="container abm-bulletParent">
          <div class="row" style="margin-top: 5em"></div>
          <div class="row abm-bullets">
            <h1 style="text-align: left;">Karteek Rakshit</h1>
            <div class="sticker sticker-positioning">
              <span class="text">26 March 96</span>
            </div>
            <ul>
              <li>A Computer Science Engineering graduate currently working as System Engineer – JL 3 [Full Stack
                Developer]
                at Infosys India Pvt Ltd handling Analysis, Design and Development of web and mobile applications.
              </li>
              <li>
                More than 1.9 year experience in Application development on Microsoft Stack (.NET Core 2.0, MS-SQL),
                MEAN Stack (Mongo, Express, Angular, Node), and Python Stack(Python, Flask, Sci-Kit, TensorFlow).
              </li>
              <li>
                Experience in Mobile Application development using React Native.
              </li>
            </ul>
            <p>
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
