<!--The content below is only a placeholder and can be replaced.-->
<div class="app-body">
  <header>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-me">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hobbies">Hobbies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resume">Resume</a>
      </li>
    </ul>
  </header>


  <!-- <mat-tab-group mat-align-tabs="center" animationDuration="2000ms" class="mt-2 ">
    <mat-tab label="Home">
      <app-home></app-home>
    </mat-tab>
    <mat-tab label="About Me">
      <app-about-me></app-about-me>
    </mat-tab>
    <mat-tab label="Hobbies">
      <app-hobbies>
      </app-hobbies>
    </mat-tab>
    <mat-tab label="Resume">
      <app-resume>
      </app-resume>
    </mat-tab>
  </mat-tab-group> -->
</div>


<router-outlet></router-outlet>
