<div class="hobbie-parent">
  <div class="container" class="hobbie-body">
    <div class="row justify-content-center">
      <!-- <div class="card" style="width: 70%;">
              <button mat-raised-button color="primary">Click me!</button>
            </div> -->
      <div>

        <div class="cont">
          <div class="polaroid mislider p1">
            <div class="photo"
              style="background-image: url('https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/58382611_2645377205535817_2233258049026392064_n.jpg?_nc_cat=110&_nc_oc=AQnkXJe71CvIE-7IgOsPXNgemDIwd5_hAzE8Pz_2RUajz2EtzG-UYLaCCttX29SMalM&_nc_ht=scontent.fblr8-1.fna&oh=38c10a8b06397c2aee7910d632f1068d&oe=5DA830CA')">
            </div>
            <h4>#KRphotography</h4>
          </div>

          <div class="polaroid mislider p2">
            <div class="photo"
              style="background-image: url('https://lh3.googleusercontent.com/DCFzI7yl7RqTjD-Kf3CGIKQH64L1M_F8THAvzp5SGWSOeb7PS9yRzFnOfdsrTvod5HuUkEt75NIu27YVg6UuknMf-yyUwDf0NZoTzt8HFGVdR2guUQBNYB2q8Ko3Moad6bHFcXjOePcNjaxMu26kBgihyY1SxM5Vddn1gy12sgUHwUvpxky6F2Thkl9UHxmLamcco55XN9bbgYpAZFLLmXhhCtj7gO9fmJ6M0UYv3vgETEUhRvR-HHNAf90EPzDtdGc3E8yYbqMGOSYuQpvwrATyiQQcjXQVd9wc_QbxmLJUtVJqNiRriGpuvOg4zzCgfw2lX29uuRSs7NcXKbIqCIWDK1dL5JlSlx0QCpbjF72q_ptfutLJDXRaz-tnX_FH0Ic6IIMlvHPDlj1fj7kbKdbomYKZENWfNYTtcKSn4-3ApFmxWNvxcrdnUVXndVzTmswBkDQdPu8bcFpCr5Vzg8drNdBmtgqxgE4Sm6tcTRPCWe37r3fgbXiaLWrYvxqPWoWLLEQH7EiF7kKgLNwmqvKT6wEmm6aXj8sZs6CLYZYinXyjh1rWlOwUqnz5MoT6PMHYeA6JxCcsD5pFfYkS8cBmtUTShkwJRMCGWHBYmyuDhSfXSxXiOurr9YWLbR1XDKwdVjWZZUXYBF4PRVz0W5L7QN5vdv1Q=s947-no')">
            </div>
            <h4>#KR</h4>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
